<%= form_for @platform, :html => { :class => 'form-horizontal' } do |f| %>
  <%= render 'layouts/error_messages', target: @platform %>
  <div class="control-platform">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                platforms_path, :class => 'btn' %>
  </div>
<% end %>
