<div class="row">
  <div class="span3">
    <%= form_for [@purchase_order, @license], html: { class: 'form-inline mini' } do |f| %>
      <%= render 'layouts/error_messages', target: @license %>
      <div class="control-group">
        <%= f.label :quantity, :class => 'control-label' %>
        <div class="controls">
          <%= f.number_field :quantity, :class => 'number_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :start_date, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :start_date %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :end_date, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :end_date %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :license_type_id, :class => 'control-label' %>
        <div class="controls">
          <%= f.collection_select(:license_type_id, LicenseType.all, :id, :name) %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit nil, style: 'width: 100%', :class => 'btn btn-large btn-success' %>
      </div>
    <% end %>
  </div>
  <div class="span9">
    <%- model_class = License -%>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:type) %></th>
          <th><%= model_class.human_attribute_name(:quantity) %></th>
          <th><%= model_class.human_attribute_name(:start_date) %></th>
          <th><%= model_class.human_attribute_name(:end_date) %></th>
          <th><%= model_class.human_attribute_name(:status_id) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @licenses.each do |license| %>
          <tr>
            <td><%= license.license_type %></td>
            <td><%= license.quantity %></td>
            <td><%= license.start_date.strftime('%m/%d/%y') %></td>
            <td><%= license.end_date.strftime('%m/%d/%y') %></td>
            <td><%= license.license_status %></td>
            <td>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_purchase_order_license_path(license), :class => 'btn btn-mini' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          purchase_order_license_path(license),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
