<%- model_class = PurchaseOrder -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:purchase_order_number) %>:</strong></dt>
  <dd><%= @purchase_order.number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sale_number) %>:</strong></dt>
  <dd><%= @purchase_order.sale_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:invoice_number) %>:</strong></dt>
  <dd><%= @purchase_order.invoice_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:purchase_order_date) %>:</strong></dt>
  <dd><%= @purchase_order.purchase_order_date.strftime('%m/%d/%y') %></dd>
  <dt><strong><%= model_class.human_attribute_name(:region_id) %>:</strong></dt>
  <dd><%= link_to(@purchase_order.region, regions_path(@purchase_order.region)) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:funding_source_id) %>:</strong></dt>
  <dd><%= (link_to(@purchase_order.funding_source, funding_source_path(@purchase_order.funding_source))) unless @purchase_order.funding_source.blank? %></dd>
  <dt><strong><%= model_class.human_attribute_name(:apm) %>:</strong></dt>
  <dd><%= @purchase_order.apm %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sts) %>:</strong></dt>
  <dd><%= @purchase_order.sts %></dd>
  <dt><strong><%= model_class.human_attribute_name(:quantity) %>:</strong></dt>
  <dd><%= @purchase_order.quantity %></dd>
  <dt><strong><%= model_class.human_attribute_name(:net_suite_account_id) %>:</strong></dt>
  <dd><%= @purchase_order.net_suite_account_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              purchase_orders_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_purchase_order_path(@purchase_order), :class => 'btn' %>
</div>

<%= render 'allocation' %>
