<%- model_class = PurchaseOrder -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:'PO Number') %>:</strong></dt>
  <dd><%= @purchase_order.number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sale_number) %>:</strong></dt>
  <dd><%= @purchase_order.sale_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:invoice_number) %>:</strong></dt>
  <dd><%= @purchase_order.invoice_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:purchase_order_date) %>:</strong></dt>
  <dd><%= @purchase_order.purchase_order_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:apm) %>:</strong></dt>
  <dd><%= @purchase_order.apm %></dd>
  <dt><strong><%= model_class.human_attribute_name(:region_id) %>:</strong></dt>
  <dd><%= @purchase_order.region_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sts) %>:</strong></dt>
  <dd><%= @purchase_order.sts %></dd>
  <dt><strong><%= model_class.human_attribute_name(:notes) %>:</strong></dt>
  <dd><%= @purchase_order.notes %></dd>
  <dt><strong><%= model_class.human_attribute_name(:net_suite_account_id) %>:</strong></dt>
  <dd><%= @purchase_order.net_suite_account_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              purchase_orders_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_purchase_order_path(@purchase_order), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              purchase_order_path(@purchase_order),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
