<%- model_class = Event -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<div ng-app="eventsApp">
  <div ng-controller="EventsCtrl">
    <form ng-submit="create()">
      <input type="text" ng-model="newEvent.name" />
      <input type="submit" value="Add" />
    </form>

    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:description) %></th>
          <th><%= model_class.human_attribute_name(:priority) %></th>
          <th><%= model_class.human_attribute_name(:created_at) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="event in events">
          <td>{{event.name}}</td>
          <td>{{event.description}}</td>
          <td>{{event.priority}}</td>
          <td>{{event.created_at}}</td>
          <td><button ng-click="destroy()">Destroy</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
