<%= form_for @agreement, :html => { class: 'form-horizontal' } do |f| %>
  <%= render 'layouts/error_messages', target: @agreement %>
  <div class="control-group">
    <%= f.label :purchase_order_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :purchase_order_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :purchase_order_item_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :purchase_order_item_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :purchase_order_item_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :purchase_order_item_type_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :quantity, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :quantity, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :start_date %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :end_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :end_date %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :exuberance_coordinator_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :exuberance_coordinator_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :funding_source, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:funding_source, FundingSource.all, :id, :name) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :agreement_status_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:agreement_status_id, AgreementStatus.all, :id, :name) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                agreements_path, :class => 'btn' %>
  </div>
<% end %>
