<div id="admin_search_form">
  <%= search_form_for @q, html: { class: 'form-horizontal' } do |f| %>
    <div class="control-group">
      <%= f.label :name, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :name_cont, class: 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :status, class: 'control-label' %>
      <div class="controls">
        <%= f.collection_select(:advertiser_status_id_eq, AdvertiserStatus.all, :id, :name) %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= link_to "Reset", url_for, class: 'btn' %>
    </div>
  <% end %>
</div>
